@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}


/* Estilo base para Select2 en modo claro */
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d1d5db;
    /* gray-300 */
    border-radius: 0.5rem;
    /* rounded-md */
    height: 2.5rem;
    /* h-10 */
    padding: 0.5rem 0.75rem;
    /* py-2 px-3 */
    font-size: 1rem;
    /* text-base */
    line-height: 1.5rem;
    /* leading-6 */
    transition: all 0.2s;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #111827;
    /* text-gray-900 */
    line-height: 2.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.5rem;
    right: 0.75rem;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    .select2-container--default .select2-selection--single {
        background-color: #1f2937;
        /* bg-gray-800 */
        border-color: #374151;
        /* border-gray-700 */
        color: #f9fafb;
        /* text-gray-100 */
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #f9fafb;
        /* text-gray-100 */
    }
}

.dark .select2-container--default .select2-selection--single {
    background-color: #1f2937;
    color: white;
    border-color: #4b5563;
}

.dark .select2-dropdown {
    background-color: #1f2937;
    color: white;
}

.dark .select2-results__option--highlighted {
    background-color: #374151;
}